body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: beige;
}

main {
  padding: 1rem;
  margin: auto 0;
}
